<!DOCTYPE html>
<html>
<head>
<title><%= activityName %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="summary-div">
  <h2 class="activity-name-heading"><%= activityName %></h2>
  <table class="table table-striped">
     <tr>
        <th>#</th><th>班级</th><th>姓名</th>
     </tr>

     <% 
      var participants = locals.participants || []; 
      for (var i = 0; i < participants.length; i++) { %>
      <tr>
        <td><%= i + 1 %><%= (i + 1) == participants[i].rank() ? '' : ('(' + participants[i].rank() + ')') %></td>
        <td><%= participants[i].cls() %></td>
        <td><%= participants[i].name() %></td>
      </tr>    
     <% } %>

  </table>
</div>
</body>
</html>